<div [hidden]="submitted">
  <h1>Quote Form</h1>
  <form (ngSubmit)="onSubmit()" #quoteForm="ngForm" >

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="formQuote.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="quote">Your Quote</label>
      <input type="text" class="form-control" id="quote" required
      [(ngModel)]="formQuote.quote" name="quote" #quote="ngModel">
      <div [hidden]="quote.valid || quote.pristine"
        class="alert alert-danger">
        Quote is required
      </div>
    </div>
    <!-- {{quote.className}} -->
    <div class="form-group">
      <label for="note">Quick note</label>
      <input type="text" class="form-control" id="note"
      [(ngModel)]="formQuote.note" name="note" #note="ngModel">
    </div>

    <div class="form-group">
        <label for="tag">Tag your quotes</label>
        <select class="form-control" id="tag" required
        [(ngModel)]="formQuote.tag" name="tag">
          <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!formQuote.form.valid">Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-default" (click)="newQuote()">New Quote</button>
      <i>without</i> reset
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-default" (click)="newQuote();formQuote.reset()">New Quote</button>
    <i>with</i> reset
  </form>
</div>
<!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ formQuote.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">quote</div>
      <div class="col-xs-9 pull-left">{{ formQuote.quote }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">note</div>
      <div class="col-xs-9 pull-left">{{ formQuote.note }}</div>
    </div>
    <div>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div> -->
<div [hidden]="!submitted">
  <ul *ngFor='let quote of quotes'>
      <li>
        <p>{{quote.id}}</p>
        <p>{{quote.name}}</p>
        <p>{{quote.quote}}</p>
        <p>{{quote.tag}}</p>
        <p>{{quote.note}}</p>
        <button class="btn btn-primary" (click)="submitted=false" (click)="updateQuoteById(quote.id)">Edit</button>
      </li>
  </ul>
</div>
